@model List<Liberia.WebSite.Models.Autor>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a class="btn btn-outline-primary" asp-area="" asp-controller="Autores" asp-action="Create">Nuevo</a>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>F. Registro</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var autor in Model)
                {
                    <tr>
                        <td>@autor.Id</td>
                        <td>@autor.Nombre</td>
                        <td>@autor.FechaRegistro</td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = autor.Id }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = autor.Id }) 
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
